<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1030469255151-ifm1n0ne73iqolvra0aruehf7ole9o42.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1030469255151-ifm1n0ne73iqolvra0aruehf7ole9o42</string>
	<key>API_KEY</key>
	<string>AIzaSyArFR3SlAhGzuoaGw3hL3Gjr88P_24_JlM</string>
	<key>GCM_SENDER_ID</key>
	<string>1030469255151</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.baro.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-5ae91</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-5ae91.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1030469255151:ios:2a09338b232342cd57401a</string>
</dict>
</plist>